{% load static %}
{% load django_simple_cookie_consent_tags %}

<!doctype html>
<html lang="pl">

<head>
  {% display_cookie_consent %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="description" content="Influencio - Świat Influencerów">
  <meta name="keywords" content="influencer, moda, fitness, gaming, prank, lifestyle">
  <meta name="author" content="Jakub Klewicki & Tomasz Klewicki">
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--favicon-->
  <link rel="shortcut icon" href="{% static '#' %}" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- jquery -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

  <!-- Custom js & css -->
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static 'static/script.js' %}"></script>

  {% block scripts %}

  {% endblock scripts %}

  <!-- <title>Influencio | {% block title %} {{title}} {% endblock title %}</title> -->
</head>


<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

<!-- Box ICONS FONT -->
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

<body>
  <!--Main Top Side Banner-->
  <img src="/media/pxl-nav.jpg" class="img-fluid" alt="Baner influencio przedstawiający aparat na zielonym tle">

  <!--Navbar-->
  {% block navbar %}

  {% include 'navbar.html' %}

  {% endblock %}

  <!--Messages DIV-->
  {% if messages %}
      {% for message in messages %}
          <div class="alert alert-{{message.tags}}" style="text-align:center; font-size:large;">
              {{message}}
          </div>
      {% endfor %}
  {% endif %}

  <!--Main Site Section-->
  <section>
    {% block content %}

    {% endblock content %}
  </section>

  <!-- Bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">

  <!-- Back to top button -->
  <a id="button"></a>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script type="text/javascript" src="{% static 'script.js' %}">

  </script>

  <!-- Footer -->
  <footer>

    {% include 'footer.html' %}

  </footer>

</body>

</html>