                <!-- Subscribe form and footer links -->
                <hr>
                <div class="row mt-5 pt-3">
                    <div class="col-xl-6 col-lg-12 mb-4">
                        <div class="tm-bg-gray p-5 h-100">
                            <h3 class="tm-text-primary mb-3">Chcesz świeże aktualizacje?</h3>
                            <p class="mb-2">Zapisz się do naszego newslettera.</p>
                            <form action="" method="GET" class="tm-subscribe-form">
                                <input type="text" name="email" placeholder="Twój Email..." required>
                                <button type="submit" class="btn btn-info btn-md m-1">Zapisz Email</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                        <div class="p-5 tm-bg-gray">
                            <h3 class="tm-text-primary mb-4">Szybkie Linki</h3>
                            <ul class="list-unstyled tm-footer-links">
                                <li><a href="#">Duis bibendum</a></li>
                                <li><a href="#">Purus non dignissim</a></li>
                                <li><a href="#">Sapien metus gravida</a></li>
                                <li><a href="#">Eget consequat</a></li>
                                <li><a href="#">Praesent eu pulvinar</a></li>
                            </ul>    
                        </div>                        
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                        <div class="p-5 tm-bg-gray h-100">
                            <h3 class="tm-text-primary mb-4">Nasze Strony</h3>
                            <ul class="list-unstyled tm-footer-links">
                                <li><a href="#">Kontakt</a></li>
                                <li><a href="#">Polityka Prywatności</a></li>
                                <li><a href="#">O nas</a></li>
                                <li><a href="#">Eget consequat</a></li>
                                <li><a href="#">Praesent eu pulvinar</a></li>
                            </ul>
                        </div>                        
                    </div>
                </div> <!-- row -->
                <hr>
                <footer class="row pt-1">
                    <div class="col-11">
                        <p class="text-right">Copyright 2021 Influencio
                        - Projekt <a href="#" rel="nofollow" target="_parent">Ezopa Coding Enterprise</a></p>
                    </div>
                </footer>