<footer>
  <hr>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-2">
        <i class="bi bi-house"></i>
        <a href="{% url 'page-home' %}" class="text-secondary" >Strona główna</a>
      </div>
      <div class="col-md-2">
        <i class="bi bi-envelope-open"></i>
        <a href="{% url 'page-contact' %}" class="text-secondary">Kontakt</a>
      </div>
      <div class="col-md-2">
        <i class="bi bi-shield-check"></i>
        <a href="{% url 'page-privacy' %}" class="text-secondary">Polityka Prywatności</a>
      </div>
      <div class="col-md-2">
        <i class="bi bi-file-person"></i>
        <a href="{% url 'page-about' %}" class="text-secondary">O Influecio</a>
      </div>
      <div class="col-md-2">
        <i class="bi bi-book-half"></i>
        <a href="#" class="text-secondary">Artykuły</a>
      </div>
      <div class="col-md-2">
        <i class="bi bi-card-checklist"></i>
        <a href="{% url 'page-creators' %}" class="text-secondary">Lista Twórców</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 copy">
      <p class="text-center">&copy; Copyright 2022 - Influencio.  All rights reserved.</p>
    </div>
  </div>
  <hr>
</footer>
