{% load static %}
{% load crispy_forms_tags%}

    <nav class="navbar navbar-custom navbar-expand-custom sticky-top">
        <a class="navbar-brand color-text" href="{% url 'page-home' %}">Influencio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <div class="box-icon"><i class='bx bx-menu'></i></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- <li class="nav-item active">
                    <a class="nav-link nav-neon1" href="#">HOME<span class="sr-only">(current)</span></a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link nav-neon4" href="{% url 'page-hot_top' %}">HOT-TOP</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-neon5" href="{% url 'page-odkrycia' %}">ODKRYCIA</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-neon2" href="{% url 'page-beauty' %}">BEAUTY</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-neon3" href="#">ŚMIESZNE</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-neon4" href="#">GAMING</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link nav-neon5" href="#">LIFESTYLE</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link nav-neon6" href="#">SZTUKA</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link  nav-neon7" href="#">SPORT</a>
                </li>


                <!-- <li class="nav-item">
                    <a class="nav-link nav-neon8" href="#">O NAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-neon9" href="#">KONTAKT</a>
                </li> -->

                <li class="nav-item">
                    <i class='bx bx-search'></i>
                </li>

                <form class="form-inline" action="" method="get" autocomplete="off">
                    {{ filter.form|crispy }}
                    <button class="btn btn-light btn-sm" type="submit">Szukaj</button>
                    <a class="btn btn-warning btn-sm" href="{% url 'page-home' %}">Wyczyść filtr</a>
                </form>

            </ul>




        </div>


    </nav>

<script type="text/javascript" src="{% static 'script.js' %}">

</script>