{% extends 'base.html' %} {% block content %}
<br>
<h2 class="title text-center">{{title}}</h2>

<body>
  <div class="container">
  <div class="card text-center border-secondary ">
    <div class="card-body">
      <h6 class="card-title"></h6>
      <p class="card-text-sm text-justify">
       INFLUENCIO.pl to portal dla wszystkich, którzy chca być na bieżąco z inluencerami oraz wschodzącymi gwiazdami internetu!
       Znajdziesz tu wyselekcjonowne przez nas filmy podzielone na kategorie tematyczne. FIlmy możesz też wyszukiwać za pomocą wyszukiwarki
       w głównym menu. Dzięki Influencio  możesz śledzić swoich idoli i ich aktwyność na różnych platoformach lub odkryć filmy nowych osób, których
       o których do tej pory nie wiedziałeś!
      </p>
    </div>
{% endblock %}
