{% extends 'base.html' %}
{% load static %}

{% block content%}

<section class="mb-5">

    <h2 class="h1-responsive font-weight-bold text-center my-4">Skontaktuj się z nami</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Masz jakieś pytania? Jesteś zainteresowany współpracą ? 
        Chcesz żeby Twoje posty czy filmy były na nas na stronie ?
        Masz kanał na Instagramie ? TikTok? Youtube? 
        Napisz do nas!</p>

    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form action="{% url 'page-contact' %}" method='post'>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" name="message-name" class="form-control mb-30">
                            <label for="message-name" class="">Twoje imię</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="email" name="message-email" class="form-control mb-30">
                            <label for="message-email" class="">Twój email</label>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form">
                        <textarea name="message" class="form-control md-textarea" rows = "6"></textarea>
                        <label for="message">Twoja wiadomość</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-1">Wyślij</button>

            </form>
        </div>

        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="bi bi-house"></i>
                    <p>04-805 Warszawa, ul. Ezopa 57</p>
                </li>

                <li><i class="bi bi-envelope-open"></i>
                    <p>kontakt.influencio@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>  <!-- row -->

</section>

{% endblock %}