{% extends 'base.html' %}
{% block content %}
{% load active_link_tags %}
<br>
<h4 class="title text-center">{{title}}:</h4>
<div class="container">
    <div class="card text-center border-muted ">
        <div class="card-body">
            <h6 class="card-title"></h6>
            <p class="card-text-sm text-justify">
                {% for object in object_list %}

            <p><a href="/?author={{object.author}}">{{object.author}}</a></p>

            {% endfor %}

            </p>
        </div>

        {% endblock %}