{% extends "base.html" %}
{% block content%}
{% load crispy_forms_tags%}
{% load static %}

{# Show Influencers movies from model #}

{# Show movies checked as PROMOTION movies - use one or two movies from the same chanell #}
<p></p>
<div class="container-bg" title ='Sekcja promocji wideo wybranych influencerów'>
    <div class="container-md">
        <div class="row justify-content-center">
            {% for movie_promotion in movie_promotions %}
            {% if movie_promotion.promotion == True %}
            <div class="col-lg-5 d-flex align-items-stretch">
                {% include "pages/movie_promotion.html" %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<p></p>

{# site pagination import #}
{% include "pages/pagination.html" %}

{# Show all movies / show movies from main-navbar views #}
<div>
    <div class="row">
        {% for movie in object_list %}
        <div class="col-lg-4 d-flex align-items-stretch">
            {% if movie.source == "YouTube" %}
            {% include "pages/movie_you_tube.html" %}
            {% endif %}

            {% if movie.source == "TikTok" %}
            {% include "pages/movie_tik_tok.html" %}
            {% endif %}

            {% if movie.source == "Instagram" %}
            {% include "pages/movie.html" %}
            {% endif %}

            {% if movie.source == "Other" %}
            {% include "pages/movie.html" %}
            {% endif %}
        </div>
        {%endfor%}

    </div>
</div>
{# site pagination import #}
{% include "pages/pagination.html" %}

{% endblock content%}