{% extends "base.html" %}
{% block content%}
{% load crispy_forms_tags%}
{% load static %}


<!-- Wyszukiwanie/Filtrowanie przeniesione do NAVBARU -->
<!-- {% comment %} Wyświetlenie paska do filtrowania wyników {% endcomment %}

<div class="search-section">
<div class="col-sm-5">
    <form action="Szukaj" method="get" autocomplete="off" aria-placeholder="Szukaj">
        {{ filter.form|crispy }}
        <p></p><button class="btn btn-success" type="submit">Szukaj</button>
        <a class="btn btn-warning" href="{% url 'page-home' %}">Wyczyść filtr</a>
    </form>
    <br>
</div>
</div> -->

{% comment %} pagination {% endcomment %}

 {% include "pages/pagination.html" %}

{% comment %} Show Influencers from model {% endcomment %}

<div class="promo_section">
    <div class="row">
        {% for movie_promotion in movie_promotions %}
        {% if movie_promotion.promotion == True %}
        <div class="col-lg-6 d-flex align-items-stretch">
            {% include "pages/movie_promotion.html" %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<br>

<div>
    <div class="row">
        {% for movie in object_list %}
        <div class="col-lg-4 d-flex align-items-stretch">
            {% if movie.source == "YouTube" %}
            {% include "pages/movie_you_tube.html" %}
            {% endif %}

            {% if movie.source == "TikTok" %}
            {% include "pages/movie_tik_tok.html" %}
            {% endif %}

            {% if movie.source == "Instagram" %}
            {% include "pages/movie.html" %}
            {% endif %}

            {% if movie.source == "Other" %}
            {% include "pages/movie.html" %}
            {% endif %}
        </div>
        {%endfor%}

    </div>
</div>
{% include "pages/pagination.html" %}

{% endblock content%}