{% load ratings %}
<div class="card">
    <div class="card-body p-1">
        <h5 class="card-title"><strong>{{ movie.author}}</strong></h5 <br>
        <h5 class="card-subtitle">{{ movie.title }}</h5>
        <br>
        <h6 class="card-subtitle mb-2 text-muted">Kategoria: {{ movie.category }}</h6>
        <h6 class="card-subtitle mb-2 text-muted"><small>Dodane do Influencio: {{ movie.date_posted|date:"M d, Y" }}</small></h6>
        <div class="movie_container">
            <div class="movie_item">{{movie.content | safe }}</div>
        </div>
        <p class="card-text" style="fluid:center;"> Link do profilu:
            {% if movie.tiktok_url|length > 0  %}
            <a href="{{ movie.tiktok_url }}"><i class="bi bi-tiktok"></i></a>
            {% endif %}
            {% if movie.youtube_url|length > 0 %}
            <a href="{{ movie.youtube_url }}"><i class="bi bi-youtube"></i></a>
            {% endif %}
            {% if movie.insta_url|length > 0 %}
            <a href="{{ movie.insta_url }}"><i class="bi bi-instagram"></i></a>
            {% endif %}
            {% ratings movie %}
        </p>
    </div>
</div>