
/* ----- NAVBAR STYLING ----- */

/* Google Fonts Link*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.navbar-brand {
    font-family: 'Architects Daughter', cursive;
    font-size: 35px;  
}

.navbar-custom {
    background-color: #181717;
}

.color-text{
    color: rgb(157, 236, 11);
}

.bx-menu {
    color:rgb(157, 236, 11);    
}

.nav-link{
    color:rgb(157, 236, 11);
    font-size: 15px;
}

.navbar-nav .nav-item:hover .nav-link {
    color: rgb(244, 245, 241);
}

.navbar-nav .nav-item:hover .nav-link:hover{
    box-shadow: 0px 2px 0px rgb(66, 165, 9);
}


/* ----- BODY STYLING ----- */

/* body {
    max-width: 1250px;
    padding-top: 160px;
    padding-left:2%;
} */


.card {
  
    border-radius: 30px;
    border:flex;
    border: solid 2px rgb(148, 170, 24);
    display:flex;
    
}